
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


.img-loader-couch {
    /*height: 20%;*/
    width: 40vw;
    margin-left: 30vw;
    /*margin: -28px 0 0 -25px;*/
    font-family: 'IBM Plex Mono', monospace;
}
.img-loader-dessin {
    /*height: 20%;*/
    width: 40vw;
    margin-left: 30vw;
    /*margin: -28px 0 0 -25px;*/
    font-family: 'IBM Plex Mono', monospace;
}
.wrapper {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 5;
    margin: 0 auto;
}

.text-wrapper {
    z-index: 10;
}

.txt-loader {
    margin-left:5vw;
    margin-right:5vw;
}

h1 {
    text-align:center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 600;
}

h2 {
    text-align:center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

h3 {
    text-align:center;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 300;
}

.please-enjoy {
    font-weight: 400;
}

.centred-text {
    text-align: center;
}

.em-style {
    font-size: 1em;
}


.c00 {
    color: #FF0000;
}
.c01 {
    color: #FF5A00;
}


.c11 {
    color: #FFB400;
}
.c12 {
    color: #F0FF00;
}


.c21 {
    color: #96FF00;
}
.c22 {
    color: #3CFF00;
}

.c31 {
    color: #00FF1E;
}
.c32 {
    color: #00FF78;
}

.c41 {
    color: #00FFD2;
}
.c42 {
    color: #00D2FF";
}

.c51 {
    color: #0078FF;
}
.c52 {
    color: #001EFF;
}

.c61 {
    color: #3C00FF;
}
.c62 {
    color: #9600FF;
}

.c71 {
    color: #F000FF;
}
.c72 {
    color: #FF00B4;
}

.c81 {
    color: #FF005A;
}
.c82 {
    ;
}